@model IEnumerable<AutoKomis.Models.Sprzedaz>

<div class="title-cointainer">
    <div class="row pt-4">
        <h1 class="index-title">Sprzedaże w danych latach: </h1>
    </div>
</div>
 <div class="powrot-button">
        <a asp-area="" class="Powrot-Index" asp-controller="Sprzedaz" asp-action="Index">
            Powrót do Indexu
        </a>
</div>

@if (Model.Count() == 0)
{
    <p id="Brak">Baza sprzedaży w określonym czasie!</p>
}
else
{
    <table id="table" class="table table-striped table-dark table-bordered table-hover table-sm">
        <thead>
            <tr class="name-of-headers">
                <th>IdSprzedaży</th>
                <th>IdSamochodu</th>
                <th>IdPracownika</th>
                <th>IdKlienta</th>
                <th>Data zawarcia umowy</th>
                <th>Kwota</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sprzedaze in Model)
            {
                <tr>
                    <td width="10%">@sprzedaze.IdSprzedazy</td>
                    <td width="10%">@sprzedaze.IdSamochodu</td>
                    <td width="10%">@sprzedaze.IdPracownika</td>
                    <td width="10%">@sprzedaze.IdKlienta</td>
                    <td width="10%">@sprzedaze.DataZawarciaUmowy</td>
                    <td width="10%">@sprzedaze.Kwota</td>
                </tr>
            }
        </tbody>
    </table>
}